# Dependencies
/node_modules

# Environment files
/.env

# Hardhat artifacts and cache
/artifacts
/cache

# TypeChain output
/typechain

# Solidity coverage files
/coverage
/coverage.json

# Ignition files
/ignition/deployments

# Compiled contract output
/build-info
